.paihang {
  font-size: 14px;
  line-height: 28px;
}
.paihang1 {
  font-size: 19px;
  color: #fe2d46;
}
.paihang2 {
  font-size: 17px;
  color: #f60;
}
.paihang3 {
  font-size: 15px;
  color: #faa90e;
}
.paihangl1 {
  font-size: 19px;
  color: #3f51b5;
}
.paihangl2 {
  font-size: 17px;
  color: #2196f3;
}
.paihangl3 {
  font-size: 15px;
  color: #00bcd4;
}
.order{
  margin-right: 12px;
}
.salesNum{
  margin-left: 22px;
  color: #9195a3;
}