.local-time{
  padding: 12px;
  margin-top: 32px;
  margin-left: 32px;
}
.globalNoticeTitle{
  padding: 0.5rem 0.625rem;
  line-height: 1.625rem;
  background: #f5f6f7;
  border-radius: 0.27rem;
  font-weight: 700;
  color: #4d5054;
  margin-top: 6px;
  font-size: 15px;
}
.globalNoticeTime{
  color: #999;
}