.ant-form-item-label{
  font-weight: 450;
}
.discountPrice{
  color: #e28a84;
  text-decoration: line-through;
}
.note .noteCard .ant-card-body{
  height: 140px;
}
.ant-table-thead > tr > th {
  background-color: #648ea3;
  color: white;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
  padding: 10px;
}
.ice-layout-section{
  min-width: 1200px;
}